footer {
  background-color: blue;
}

body {
  background-color: saddlebrown;
}
p {
  color: white;
}

form {
  background-color: skyblue;
}

legend {
  background-color: blue;
}
button {
  background-color: beige;
}